
<h3>Please name your person!</h3>
<form action="/submit" method="POST">
	<input type="text" name="person[name]" value="Enter person's Name" />
	<input type="text" name="person[birthday]" value="Enter person's birthday" />
	<input type="text" name="person[gender]" value="Enter your gender" />
	<input type="integer" name="person[zipcode]" value="Enter your zipcode" />
	<input type="submit" value="Submit" />
</form>

<!-- <a href="/models">See Models</a> -->
