<h2>Welcome to Sinatra Evite 1!</h2>
<h4>You can use the app by clicking the links!</h4>


<a href="/person/new">Add a person</a><br>
<a href="/event/new">Create an event</a><br>

<br>

<a href="/events">See events</a><br>
<a href="/people">See people</a><br>
