
<h3>Add a new person:</h3>
<form action="/person/new" method="POST">
	<input type="text" name="person[name]" value="Enter person's Name" />
	<input type="date" name="person[birthday]" value="Enter birthday" />
	<input type="text" name="person[gender]" value="Enter gender" />
	<input type="integer" name="person[zipcode]" value="Enter zipcode" />
	<input type="submit" value="Submit" />
</form>

<a href="/">Home</a>
