<h3>Make a new event:</h3>

<form action="/event/new" method="POST">
  <input type="text" name="event[name]" value="Enter event name"/>
  <input type="date" name="event[date]" value="Enter event date"/>
  <input type="submit" value="Submit"/>
</form>

<a href="/index">Home</a>
