<h3>Register a person for an event:</h3>

<form action="/registrstion/new" method="POST">
  <input type="integer" name="registration[person_name]" value="Enter person" />
  <input type="integer" name="registration[event_name]" value="enter event" />
  <input type="text" name="registration[rsvp]" value="Enter RSVP" />
  <input type="submit" value="Submit" />
</form>

<a href="/">Home</a>
