<h4> HERE ARE ALL THE PEOPLE!!!!!!!!!</h4>

  <ol>
    <%@people.each do |person|%>
    <li>
      <%= person.name %>
      <%= person.birthday %>
      <%= person.gender %>
      <%= person.zipcode %>
    </li>
    <%end%>
  </ol>

  <a href="/">Add another person</a>
