<h3>People:</h3>

  <ol>
    <%@people.each do |person|%>
    <li>
      <strong>Name: <%= person.name %></strong><br>
      Birthday: <%= person.birthday %><br>
      Gender: <%= person.gender %><br>
      Zipcode: <%= person.zipcode %><br>
      <br>
    </li>
    <%end%>
  </ol>

  <a href="/person/new">Add another person</a>
  <br>
  <a href="/">Home</a>
